version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: ci
    cooldown:
      default-days: 7
  - package-ecosystem: maven
    directory: /gatling
    schedule:
      interval: weekly
    commit-message:
      prefix: ci
    cooldown:
      default-days: 7
