label {
    display: block;
}

.col {
    float: left;
    width: 50%;
}

main {
    padding-top: 2em;
}

form>div {
    padding-bottom: 1em;
}

textarea,
input:not([type="submit"]) {
    display: block;
    width: 80%;
}

code,
pre {
    background-color: lightgray;
}
