<!DOCTYPE html>
<html>

<head>
	<title>Mercure</title>

	<style>
		label {
			display: block;
		}
		main {
			padding-top: 5em;
			padding-bottom: 5em;
		}
	</style>
</head>

<body>
	<form>
		<label>
			List of templated IRIs to subscribe:
			<textarea id="iri" required cols="30" rows="5">http://example.com/books/{id}
http://example.com/reviews/12</textarea>
		</label>
	</form>

	<main id="contents">No contents pushed.</main>
	<template id="content">
		<li>
			<article>
				<h1></h1>
				<pre></pre>
			</article>
		</li>
	</template>

	<form id="publish" action="/publish" method="POST">
		<label>
			IRI:
			<input name="iri" type="url" value="http://example.com/books/1" required>
		</label>

		<label>
			Data:
			<textarea name="data" required cols="30" rows="10">Hello World!</textarea>
		</label>

		<input type="submit">
	</form>

	<script>
		document.querySelector('#publish').onsubmit = (e) => {
			e.preventDefault();
			fetch(e.target.action, { method: e.target.method, body: new URLSearchParams([...new FormData(e.target).entries()]) });
		};

		const template = document.querySelector('#content');

		let eventSource;
		const init = () => {
			if (eventSource) {
				eventSource.close();
			}

			const iris = document.querySelector('#iri').value.split("\n");
			const url = new URL('/events/', document.location);
			iris.forEach((iri) => { url.searchParams.append('iri[]', iri) });

			eventSource = new EventSource(url);
			eventSource.addEventListener('mercure', (e) => {
				let ol = document.querySelector('#contents ol');
				if (ol === null) {
					ol = document.createElement('ol');
					ol.reversed = true;
					const contents = document.querySelector('#contents');
					contents.innerHTML = '';
					contents.appendChild(ol);
				}

				const li = document.importNode(template.content, true);
				li.querySelector('h1').textContent = e.lastEventId;
				li.querySelector('pre').textContent = e.data;
				ol.firstChild ? ol.insertBefore(li, ol.firstChild) : ol.appendChild(li);
			});
		}

		init();
		document.querySelector('#iri').onchange = init;
	</script>
</body>

</html>