<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A chat using Mercure</title>
</head>

<body>
    <h1>This is a chat using <a href="https://mercure.rocks">Mercure</a></h1>

    <form>
        <input name="username" placeholder="username" size="10">
        <input name="message" placeholder="Your message..." size="50" autocomplete="off">
        <input type="submit" value="Post">
    </form>
    <hr>

    <div id="messages">
        No messages
    </div>

    <script type="application/json" id="config">
        {{ config|tojson|safe }}
    </script>
    <script src="/static/chat.js"></script>
</body>

</html>
