{% extends "layout.html" %}
{% block content %}
    <section>
        <h2>User list</h2>
        <div id="userList"></div>
        <div id="username"></div>
    </section>

    <section id="messages">No messages</section>

    <section>
        <form>
            <input name="message" placeholder="Your message..." size="50" autocomplete="off" required>
            <input type="submit" value="Post">
        </form>
    </section>

    <script type="application/json" id="config">
        {{ config|tojson|safe }}
    </script>
    <script src="/static/chat.js"></script>
{% endblock %}
